<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:if="${bicicletas.isEmpty()}">
		<h1 style="color: red">El estudiante no cuenta con bicicletas registradas</h1>
	</div>
	<table th:if="${!bicicletas.isEmpty()}">
		<thead>
			<tr>
				<th>ID</th>
				<th>Color</th>
				<th>Marca</th>
				<th>Candado</th>
				<th>Estado</th>
				<th>Comentario</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bicicleta: ${bicicletas}">
				<td th:text="${bicicleta.id}"></td>
				<td th:text="${bicicleta.color}"></td>
				<td th:text="${bicicleta.marca}"></td>
				<td th:if="${bicicleta.candado == true }" th:text="'SI'"></td>
				<td th:if="${bicicleta.candado == false }" th:text="'SI'"></td>
				<td th:text="${bicicleta.estado}"></td>
				<td th:text="${bicicleta.comentario}"></td>
			</tr>
		</tbody>
		
	</table>
</body>
</html>